# Site Info
SITE_NAME=DLog

# Database Configuration
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dlog
DB_USER=dlog_app_user
DB_PASSWORD=

# Statcounter
STATCOUNTER_PROJECT=123
STATCOUNTER_SECURITY=abc
